.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs

# OpenApePose data (too large for git)
data/OpenApePose/images/
data/OpenApePose/*.7z.*